
<!--main page-->

<div class="header_hero">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-10 mx-auto">
        <div class="header_hero_text ">
          <h1 class="heading-1"> HOTDOG REVIEWS AND RATINGS</h1>
          <h3>
            Welcome to HotDog, the world's premier review and rating site for Hotdog stands, food trucks, shacks, dines, and dives.
          </h3>
          <div class="header_text_btn">

            <a href="/reviews"><button class="itemBtn btn-lg btn-outline-dark">Reviews</button></a>

          </div>
        </div>
      </div>
      <!--images-->
      <div class="col-lg-6 col-10 mx-auto">
        <figure class="header_hero__img">
          <img src="assets/163-1633077_dancing-hot-dog-png-give-me-that-hot.png" alt="" />
        </figure>

      </div>

    </div>

  </div>

  </div>