<div class="text-center  bg-dark p-2 text-red bg-opacity-75">
  <h2>{{location}}</h2>
   <p>
      Rating:{{rating}}
   </p>
  
  
  <p>{{description}}</p>


  <p>Created by {{user.name}}
   
   <p>
    <a href="/reviews"> <button class="btn btn-primary">Check Reviews</button></a>
  </p>

  
</div>
