body{
    /*background-image: url('assets/picjpg.jpg');    */
    background-repeat: no-repeat;
    background-size: cover;
            height:100vh;   
            width:100%;
            position:absolute;
            color:white;
           background-color:rgb(21, 21, 19);
        }
    header{
        background: linear-gradient(rgba(26, 34, 54, 0),rgb(21, 90, 202));
    }
    .project {
        border-bottom: 1px solid #ccc;
        /*background: linear-gradient(rgba(15, 17, 17, 0),rgb(27, 42, 38));*/
        background-color:rgb(54, 54, 59);
        position:relative;
      }
      
      .no-button {
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        color:white;
        text-decoration: none;
        font-size: 100%;
      }
      
      .no-button:hover {
        color: rgb(45, 97, 230);
        text-decoration: underline;
      }
      
      .dollar-amount {
        color: #056605;
        font-weight: bold;
        margin-left: -5px;
      }
      
    
     a {
        text-decoration: none;
        color:white;
        font-weight: bold;
    }
    
    .login{
        font-size: 48px;
        padding: 7px 14px;
    }
    
    .login:hover, .logout:hover,.btn-primary:hover {
        box-shadow:0 0 0 46px #e6b71f  inset;
       /*-webkit-transform : scale(1);*/
        color:white;
    }
    
    
    
    body{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 300;
    }

    a,a:hover{
        text-decoration:none;
    }
    
    .fa-hotdog{
    filter:drop-shadow(0 1.5rem 1rem rgba(255,255,255,0.5));
    }
    .header_hero{
        background-image: url('/assets/556f0d4feab8ea9d2b7a7615.webp');
       background-size: cover;
       height:70vh;
       width:100%;
       display:flex;
        justify-content: center;
        flex-direction: column;
        
        }
    
   
    
       .heading-1 {
            font-size: 3rem;
            margin-bottom: 3 rem;
            line-height: 150%;
            font-family: 'Overseer';
            font-weight:600 ;
        
        }
        p{
            
        font-size:20px;       
       
        font-weight:bolder;
          
            
        }
        .header_text_btn{
            
            align-items: center;
    
        }
        .header_hero__img{
             display:flex-end;
             height:70vh;
             filter:drop-shadow(0 1.5rem 1rem rgba(0,0,0.8));
            /* animation:infinite 10s linear infinite alternate;*/
    
    
        }
        .manimg {
            border: 0;
            left: 0px;
            position: relative;
            top: 0px;
            border-radius: 8px;
         
            display: block;
       
        
       
            height: 114px;
        
            width: 125px;
        }